<app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
<div class="row">
  <div class="offset-md-5 col-md-2">
    <button type="button" class="btn btn-primary" (click)="onCreate()">Create </button>
  </div>
</div>
<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td><img [src]="createImgPath(user.imgPath)" alt="profile picture" style="width:60px; height:60px;"></td>
      <td>{{user.name}}</td>
      <td>{{user.address}}</td>
    </tr>
  </tbody>
</table> -->